<div class="page-container">
  <h1>Especialidades</h1>

  <form class="form-card" (ngSubmit)="guardarEspecialidad()">
    <input
      type="text"
      placeholder="Nombre de la especialidad"
      [(ngModel)]="nuevaEspecialidad.nombre"
      name="nombre"
    />

    <textarea
      placeholder="Descripción"
      [(ngModel)]="nuevaEspecialidad.descripcion"
      name="descripcion"
    ></textarea>

    <div class="buttons">
      <button type="submit">
        {{ editando ? 'Actualizar' : 'Guardar' }}
      </button>

      <button type="button" *ngIf="editando" (click)="cancelarEdicion()">
        Cancelar
      </button>
    </div>
  </form>

  <p *ngIf="cargando">Cargando especialidades...</p>
  <p *ngIf="error" class="error">{{ error }}</p>

  <table *ngIf="!cargando && especialidades.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Especialidad</th>
        <th>Descripción</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let especialidad of especialidades">
        <td>{{ especialidad.id }}</td>
        <td>{{ especialidad.nombre }}</td>
        <td>{{ especialidad.descripcion }}</td>
        <td>{{ especialidad.estado === 1 ? 'Activo' : 'Inactivo' }}</td>
        <td>
          <button type="button" (click)="editarEspecialidad(especialidad)">
            Editar
          </button>

          <button type="button" (click)="eliminarEspecialidad(especialidad.id)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="!cargando && especialidades.length === 0">
    No hay especialidades registradas.
  </p>
</div>